<table>
	<tr>
		<th>ID</th>
		<th>From</th>
		<th>To</th>
		<th>
			Board
		</th>
		<th>Total Seconds</th>
		<th>Created</th>
		<th>Edit</th>
		<th>Remove</th>
	</tr>
	{% for slot1 in slot %}
	<form action='{% url "list_slot" %}' method='post'>
		{% csrf_token %}

	<tr>
		<td>{{slot1.id}}</td>
		<td>{{slot1.from_field}}</td>
		<td>{{slot1.to}}</td>
		<td>{{slot1.board_id}}</td>
		<td>{{slot1.total}}</td>
		<td>{{slot1.price}} </td>
		<td>{{slot1.created_at}} </td>
		<td><input type='hidden' name='id' value='{{slot1.id}}'> <input name='remove' type='submit' Value='Remove'></td></form>
	</tr>

	{% endfor %}

</table>
